<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div th:fragment="info">
    <form class="ui form" id="epic-form" th:object="${epic}" method="post">
      <input th:field="*{id}" type="hidden" />
      <div class="ui grid">
        <div class="row">
          <div class="two wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).COMMON_NUMBER}}"></h4>
            <div class="ui pointing white basic left floated column dropdown write small icon">
              <label th:text="${epic.number}"></label>
            </div>
          </div>
          <div class="fourteen wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_NAME}}"></h4>
            <div class="ui dropdown write small icon">
              <label th:text="${epic.name}" th:fragment="name" id="name"></label>
              <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_USERSTORIES_UPDATE)">
                <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" onclick="editCampo('name', 'Name');" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
              </th:block>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="six wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_TEAM}}"></h4>
            <div class="ui labeled input">
              <label th:if="${epic.team} != null" th:text="${epic.team.name}"></label>
              &nbsp;
              <th:block th:if="${not #lists.isEmpty(teams)}" th:insert="common/fragments/elements :: selectablelistwithsearch(${teams}, 'item.name', 'item.subArea.abbreviation', ${'updateteam(' + epic.id + ', '}, 'item.id', ${');'}, 'small write icon', ${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR})" />
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_STATUS}}"></h4>
            <div class="ui labeled input">
              <div class="ui pointing white basic left floated column dropdown write small icon">
                <label th:if="${epic.status} != null" th:text="${epic.status.name}"></label>
                <th:block th:if="${not #lists.isEmpty(status)}">
                  <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
                  <div class="menu">
                    <div class="item" th:each="item : ${status}" th:onclick="'updateState('+ ${epic.id} +',' + ${item.id} + ')' ">
                      <input th:field="${epic.status.id}" type="hidden" />
                      <th:block th:text="${item.name}" th:value="${item.id}"></th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
          <div class="two wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_HOURS}}"></h4>
            <label th:text="${epic.hours}"></label>
          </div>
          <div class="two wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_STORYPOINTS}}"></h4>
            <label th:text="${epic.storyPoints}"></label>
          </div>
          <div class="three wide column">
            <h4 class="ui dividing header" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_CREATEDBY}}"></h4>
            <th:block th:replace="common/fragments/elements :: avatar(item = ${epic.createdBy}, date = ${epic.created}, size = 'mini')" />
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui dividing header">
              <h4 th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_DESCRIPTION}}" style="display: inline;"></h4>
              <div class="ui dropdown write small icon" style="display: inline;">
                <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_EPICS_UPDATE)">
                  <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_EDIT}" onclick="editCampo('description', 'Description');" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}"></i>
                </th:block>
              </div>
            </div>
            <span th:utext="${epic.description}" th:fragment="description" id="descriptionEP"></span>
          </div>
        </div>
      </div>
      <th:block th:replace="common/fragments/form :: actionbutton(icon1 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_BACK},
                                                            icon1text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_BACK},
                                                            icon1url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_EPICS},
                                                            )" />
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <br />
  </div>
</body>
</html>
